# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore Django migration files
*.log
*.sqlite3

# Ignore virtual environment
venv/
env/

# Ignore IDE and editor configurations
.vscode/
.idea/

# Ignore Django-specific files
*.db
*.bak

.env
